# {{ ansible_managed }}

################################################################
# Global configuration
################################################################

# Enable debug mode
#
# Optional
# Default: false
#
debug = {{ traefik_debug | default('false') }}

# Log level
#
# Optional
# Default: "ERROR"
#
logLevel = "{{ traefik_logLevel | default('ERROR') }}"

# Entrypoints to be used by frontends that do not specify any entrypoint.
# Each frontend can specify its own entrypoints.
#
# Optional
# Default: ["http"]
#
defaultEntryPoints = {{ traefik_defaultEntryPoints | default('["http", "https"]') }}

################################################################
# Entrypoints configuration
################################################################

# Entrypoints definition
#
# Optional
# Default:
[entryPoints]
{% for entrypoint in traefik_entryPoints %}
    [entryPoints.{{ entrypoint.name }}]
    address = "{{ entrypoint.address }}"
{% endfor %}

# Read each rules files from this directory
#
# Optional
# Default: /etc/traefik/riles
[file]
  directory = "{{ traefik_file_directory | default('/etc/traefik/rules/') }}"
  watch = true

################################################################
# Traefik logs configuration
################################################################

# Traefik logs
# Enabled by default and log to stdout
#
# Optional
#
[traefikLog]

# Sets the filepath for the traefik log. If not specified, stdout will be used.
# Intermediate directories are created if necessary.
#
# Optional
# Default: os.Stdout
#
filePath = "{{ traefik_log_filePath | default('/var/log/traefik/traefik.log') }}"

# Format is either "json" or "common".
#
# Optional
# Default: "common"
#
format = "{{ traefik_log_format | default('common') }}"

################################################################
# Access logs configuration
################################################################

# Enable access logs
# By default it will write to stdout and produce logs in the textual
# Common Log Format (CLF), extended with additional fields.
#
# Optional
#
[accessLog]

# Sets the file path for the access log. If not specified, stdout will be used.
# Intermediate directories are created if necessary.
#
# Optional
# Default: os.Stdout
#
filePath = "{{ traefik_accessLog_filePath | default('/var/log/traefik/access_log.log') }}"

# Format is either "json" or "common".
#
# Optional
# Default: "common"
#
format = "{{ traefik_accessLog_format | default('common') }}"

################################################################
# API and dashboard configuration
################################################################

# Enable API and dashboard
[api]

  # Name of the related entry point
  #
  # Optional
  # Default: "traefik"
  #
  entryPoint = "{{ traefik_api_entryPoint | default('traefik') }}"

  # Enabled Dashboard
  #
  # Optional
  # Default: true
  #
  dashboard = {{ traefik_api_dashboard | default('true') }}

################################################################
# Ping configuration
################################################################

# Enable ping
[ping]

  # Name of the related entry point
  #
  # Optional
  # Default: "traefik"
  #
  entryPoint = "{{ taefik_ping_entryPoint | default('health') }}"

################################################################
# Docker configuration backend
################################################################

# Enable Docker configuration backend
{% if traefik_docker_provider %}
[docker]
{% else %}
# [docker]
{% endif %}

# Docker server endpoint. Can be a tcp or a unix socket endpoint.
#
# Required
# Default: "unix:///var/run/docker.sock"
#
{% if traefik_docker_endpoint != "" %}
endpoint = "{{ traefik_docker_endpoint | default('tcp://10.0.4.21:2375') }}"
{% endif %}

# Default domain used.
# Can be overridden by setting the "traefik.domain" label on a container.
#
# Optional
# Default: ""
#
{% if traefik_docker_domain != "" %}
domain = "{{ traefik_docker_domain | default('docker.localhost') }}"
{% endif %}

# Enable watch docker changes.
#
# Optional
# Default: true
#
{% if traefik_docker_watch != "" %}
watch = {{ traefik_docker_watch | default('true') }}
{% endif %}

# Override default configuration template.
# For advanced users :)
#
# Optional
#
{% if traefik_docker_filename != "" %}
filename = "{{ traefik_docker_filename | default('docker.tmpl') }}"
{% endif %}

# Expose containers by default in traefik
#
# Optional
# Default: true
#
{% if traefik_docker_exposeByDefault != "" %}
exposedByDefault = {{ traefik_docker_exposeByDefault | default('false') }}
{% endif %}

# Use Swarm Mode services as data provider.
#
# Optional
# Default: false
#
{% if traefik_docker_swarmMode != "" %}
swarmMode = {{ traefik_docker_swarmMode | default('false') }}
{% endif %}

# Enable docker TLS connection.
#
# Optional
#
#  [docker.tls]
#  ca = "/etc/ssl/ca.crt"
#  cert = "/etc/ssl/docker.crt"
#  key = "/etc/ssl/docker.key"
#  insecureSkipVerify = true
